body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1085e4;
    margin-bottom: 14px;
}
.title-40 {
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
}
.title-40 span {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
}
.btn-fix {
    display: block;
    border: 1px solid rgba(118, 114, 114, 0.49);
    background-position: 0 0;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 99999;
}
.btn-fix svg {
    width: 40px;
    height: auto;
    position: fixed;
    right: 22px;
    bottom: 32px;
}

.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2 {
     max-width: 500px;
}
.page-subscribe .title-h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}
.page-subscribe .title-h2 span {
    font-size: 14px;
}
.content-app .title-h2 {
    margin-bottom: 36px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 305px;
}
.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/logo.png)
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav>li {
    padding: 0 20px;
}
.nav>li:last-child {
    padding-right: 0;
}
.nav-items {
    color: #6e7ea9;
    letter-spacing: 2px;
}
.nav-modal {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-modal>li {
    margin-bottom: 12px;
}
.nav-modal>li:last-child {
    margin-top: 35px;
}
.screen-img {
    display: block;
    /*background-image: url(../img/header-screen.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 740px;
    position: absolute;
    right: 0;
    top: 188px;
}
.btn-menu {
    border: none;
    display: none;
    background-color: transparent;
}
.btn-menu:focus {
    outline: none;
}
.btn-menu svg {
    width: 35px;
    height: 35px;
    fill: #192b59;
}
.btn-primary {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0e83e3;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}
.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cebee8;
    border: 1px solid #cdbde8;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    font-weight: 400;
    padding: 20px 56px;
    letter-spacing: 1.7px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-group a + a {
    margin-left: 15px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-info:hover {
    color: #fff;
    background-color: #94b4dc;
    border: 1px solid #94b4cc;
}
.btn-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 21px;
    font-size: 35px;
    color: #6e7ea9;
    opacity: 0.2;
    transition: 0.3s;
}
.btn-close:hover {
    opacity: 1;
}
.btn-close:focus {
    outline: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 800px;
    text-align: center;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 30px 15px 45px 15px;
    box-shadow: 0 5px 6px #f4f4f4;
    border-radius: 10px;
}
.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.list-company-item {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
.company-one {
    -ms-flex-preferred-size: 198px;
    flex-basis: 198px;
}
.company-two {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
}
.company-three {
    -ms-flex-preferred-size: 201px;
    flex-basis: 201px;
}
.company-four {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
}
.list-company-item span {
    display: block;
}
.company-one span {
    background-image: url(../img/token.png);
    width: 198px;
    height: 58px;
}
.company-two span {
    background-image: url(../img/magnetto.png);
    width: 200px;
    height: 69px;
}
.company-three span {
    background-image: url(../img/boho.png);
    width: 201px;
    height: 47px;
}
.company-four span {
    background-image: url(../img/fractal.png);
    width: 200px;
    height: 69px;
}
.grid {
    display: grid;
    grid-template-areas: 
        "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
    padding: 80px 15px 80px 15px;
}
.grid-title {
    grid-area: a;
}
.grid-item-1 {
    grid-area: b;
}
.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
    padding: 0 14px;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item {
    text-align: center;
    -webkit-box-shadow: 10px 10px 15px #f4f4f4;
    box-shadow: 10px 10px 15px #f4f4f4;
    padding: 40px 29px 64px;
    border-radius: 10px;
}
.grid-item h3{
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
}
.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
    height: 92px;
    background-position: center;
}
.grid-icon-1 {
    background-image: url(../img/icon-2.png);
    background-size: 79px 82px;
}
.grid-icon-2 {
    background-image: url(../img/icon-3.png);
    background-size: 89px 85px;
}
.grid-icon-3 {
    background-image: url(../img/icon-1.png);
    background-size: 79px 82px;
}
.grid-icon-4 {
    background-image: url(../img/icon-4.png);
    background-size: 102px 100px;
}
.grid-icon-5 {
    background-image: url(../img/icon-5.png);
    background-size: 87px 90px;
}
.grid-icon-6 {
    background-image: url(../img/icon-6.png);
    background-size: 92px 90px;
}
.hei {
    color: #192b59;
    font-weight: 700;
    font-size: 16px;
}
.rosa {
    color: #1085e4;
    font-size: 14px;
}
.settings-icon {
    display: block;
    background-image: url(../img/icon-7.png);
    background-repeat: no-repeat;
    background-position: -23px 0;
    width: 117px;
    height: 98px;
}
.page-softwere-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.page-softwere-flex>div {
    -ms-flex-preferred-size: 55%;
    flex-basis: 53%;
}
.page-softwere .title-h2, .page-analytics .title-h2 {
    max-width: 766px;
    margin-top: 12px;
    margin-bottom: 26px;
}
.page-softwere-list {
    margin-top: 30px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;
}
.page-softwere-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-softwere-list::-webkit-scrollbar-button {  background-color:  #1085e4; height: 0; border-radius: 5px; }
.page-softwere-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}
.page-softwere-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}
.page-softwere-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}
.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -7px;
}
.page-app-list>li {
    display: inline-block;
}
.page-app-list>li>a {
    background-image: url(../img/andr.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 78px;
}
.page-app-list>li>a.page-app-android {
    background-position: 0 0;
}
.page-app-list>li>a.page-app-ios {
    background-position: -190px 0;
}
a.video-app {
    display: block;
    position: absolute;
    top: -61px;
    right: 0;
    max-width: 500px;
}
.flex-analytics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-analytics>div {
    -ms-flex-preferred-size: 53%;
    flex-basis: 53%;
}
.page-analytics-text {
    margin-bottom: 54px;
}
.content-app {
    width: 55%;
}
.flex-app2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-app2>div {
    -ms-flex-preferred-size: 53%;
    flex-basis: 53%;
}
.page-app2-text {
    margin-bottom: 54px;
}
.comp {
    display: block;
    /*width: 937px;
    height: 986px;*/
    position: absolute;
    left: 0px;
    bottom: 120px;
    background-size: 100% 100%;
    
    z-index: -1;
}
.list-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 76px;
    padding: 0;
    flex-wrap: wrap;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
   
}
.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.screen {
    margin-top: 36px;
    margin-bottom: -7px;
    width: 100%;
    max-width: 1288px;
}
.box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 83px;
    flex-wrap: wrap;
}
.box-price .btn-primary {
    padding: 20px 60px;
}
.box-price-item.bk {
    background-image: url(../img/bg-plann.png);
}
.box-price-item {
    margin-top: 48px;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 36px;
    margin-bottom: 63px;
    font-size: 14px;
}
.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 17px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item:first-child h3 {
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child {
    color: #000958;
}
.box-price-item h3 span:last-child {
    color: #7b8ab2;
}
.box-price-item.active h3 {
    color: #fff;
}
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}
.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.box-price-item.actie::after {
    display: none;   
}
.box-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.box-subscribe-text {
    font-size: 18px;
    max-width: 437px;
}

.box-subscribe-user {
    position: relative;
    padding-top: 42px;
}
.box-subscribe-child {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    padding-bottom: 32px;
}
.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    color: #fff;
    font-size: 14px;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.box-subscribe-user .btn-primary {
    position: absolute;
    top: 52px;
    right: 12px;
    padding: 17px 52px;
}
.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}
.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder {color:#b1c3ee;}

.box-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 63px;
    flex-wrap: wrap;
}
.box-clients-item {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 30px #e0dbdb;
    box-shadow: 0 10px 30px #e0dbdb;
    padding: 21px 42px;
    border-radius: 10px;
    -ms-flex-preferred-size: 31.5%;
    flex-basis: 31.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
.box-clients-item .name {
    font-size: 22px;
    color: #000958;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.1;
    letter-spacing: -0.6px;
}
.box-clients-item .position {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1085e4;
    margin-top: 0;
    letter-spacing: 3px;
}
.box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.box-info>div {
    padding-left: 17px;
}
.box-clients-item>p {
    margin-bottom: 4px;
}
.box-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 140px;
    flex-wrap: wrap;
}
.box-team-item {
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
    flex-basis: 31.5%;
    -webkit-box-shadow: 0 5px 10px #e0dbdb;
    box-shadow: 0 5px 10px #e0dbdb;
    position: relative;
    padding: 193px 31px 42px 31px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.box-team-item .position {
    font-size: 14px;
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 2.1px;
}
.box-team-item .name {
    font-size: 26px;
    color: #192b59;
    font-weight: 600;
    margin-top: 8px;
    letter-spacing: -0.5px;
}
.box-team-item .avatar {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-basis: 31.5%;
}
.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    cursor: pointer;
}
.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}
.box-team-item .btn-team span{
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    -ms-flex-item-align: center;
    align-self: center;
}
.box-team-item .btn-more span{
    background-position: 1.5px 1px;
    width: 20px;
    height: 21px;
}
.box-team-item .btn-more:hover span {
    background-position: 1.5px -20px;
}
.box-team-item .btn-more:focus {
    outline: none;
}
.social-team {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.box-team-item .btn-fb span{
    background-position: -18px 1px;
    width: 20px;
    height: 22px;
}
.box-team-item .btn-fb:hover span {
    background-position: -18px -20px;
}
.box-team-item .btn-tw span{
    background-position: -40px 1px;
    width: 20px;
    height: 22px;
}
.box-team-item .btn-tw:hover span {
    background-position: -41px -20px;
}
.box-team-item .btn-be span{
    background-position: -67px 1px;
    width: 20px;
    height: 22px;
}
.box-team-item .btn-be:hover span {
    background-position: -67px -20px;
}
.box-team-item .btn-web span{
    background-position: -93.4px 2px;
    width: 20px;
    height: 22px;
}
.box-team-item .btn-web:hover span {
    background-position: -93.4px -19.5px;
}
.object-circle {
    display: block;
    position: absolute;
    left:0;
    bottom: -363px;
    background-image: url(../img/circle-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 765px;
}
.object-rhombus {
    display: block;
    position: absolute;
    right: -12px;
    top: -198px;
    background-image: url(../img/rhombus-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 569px;
    height: 661px;
}
.intro {
    color: rgba(0,0,0,0.04);
    font-size: 300px;
    font-weight: 900;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    margin: 0;
    text-align: center;
}
.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 51px;
}
.contact-form input, .contact-form textarea {
    font-size: 14px;
    border: 2px solid #dce4ec;
    padding: 25px 80px 25px 37px;
    border-radius: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
}
.contact-form textarea {
    min-height: 160px;
    resize: none;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color:#8995b3;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color:#8995b3;}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color:#8995b3;}


.contact-form .btn-primary {
    position: relative;
    padding: 22px 40px 22px 65px;
    max-width: 232px;
    letter-spacing: 2px;
}
.contact-form .btn-primary::before {
    content: '';
    background-image: url(../img/btn-plane.png);
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 54px;
    top: 22.5px;
    
}
.contact-form-item {
    margin-bottom: 19px;
    position: relative;
}
.contact-form-text {
    margin-bottom: 34px;
}
.contact-form-item::after {
    content: '';
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 42px;
}
.contact-form-name::after {
    background-image: url(../img/icon-name.png);
    width: 13px;
    height: 15px;
    top: 25px;
}
.contact-form-mail::after {
    background-image: url(../img/icon-male.png);
    width: 14px;
    height: 11px;
    top: 30px;
}
.contact-form-text::after {
    background-image: url(../img/icon-pen.png);
    width: 14px;
    height: 15px;
    top: 30px;
}
.flex-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1090px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.flex-form>div {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
}
.flex-form img {
    margin-right: 60px;
}
.footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-flex>p>a {
    color: #1085e4;
    text-transform: uppercase;
}
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}
.social>li {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 23px;
}
.social-link>img:hover {
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
/* PAGE */
.page-header {
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/sponsors-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}
.page-softwere {
    background-image: url(../img/comp-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 109px 0 156px 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.page-stat, .page-screen {
    background-color: #edf6ff;
}
.page-stat {
    padding: 116px 0 96px 0;
    position: relative;
}
.page-plan {
    padding: 81px 0 121px 0;
}
.page-plan, .page-screen { 
    text-align: center;
}
.page-screen {
    padding: 116px 0 0 0; 
}
.page-subscribe {
    padding: 25px 0 28px 0;
    height: 522px;
    max-width: 100%;
    background: rgba(10,32,144,1);
    color: #fff;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.page-app {
    padding: 69px 0 82px 0;
}
.page-app .wrap {
    position: relative;
}

.page-analytics {
    background-image: url(../img/prof-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;
}
.page-app2 {
    background-image: url(../img/4articl.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 134px 0;
}
.page-clients {
    position: relative;
    margin-top: 120px;
    padding: 43px 0 0 0;
}
.page-clients::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/avatarbg.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.page-clients .title-40, .page-team .title-40 {
    color: #fff;
}
.page-clients .title-40 span, .page-team .title-40 span {
    color: #85c8ff;
}
.page-team {
    text-align: center;
    background-image: url(../img/seo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0 121px 0;
}
.page-form {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0 121px 0;
}
.footer {
    background-color: #192b59;
    padding: 5px 0 4px 0;
}
/* MEDIA */
@media (max-width: 1500px) {
    .screen-img {
    background-size: cover;
    width: 50%;
    height: 579px;
    right: 0;
    top: 258px;
    }
    .video-app {
        top: -23px;
        right: 0;
    }
    .video-app img {
        width: 482px;
    }
    .comp {
        top: 120px;
        width: 45%;
        height: 50%;
    }
    .page-softwere {
        padding: 20px 10px 20px 0;
    }
    .page-softwere-flex .title-h2 {
        font-size: 30px;
    }
}

@media (max-width: 1300px){
    .comp {
        display: none;
    }
    .page-softwere {
        padding: 60px 0;
        background-image: none;
    }
    .page-softwere-flex {
        justify-content: center;
    }
    .page-softwere-flex>div {
        flex-basis: 100%;
    }
    .page-softwere-list {
        max-width: 800px;
        height: 266px;
        margin-right: 50px;
    }
}

@media (max-width: 1100px) {
    .nav, .screen-img {
        display: none;
    }
    .btn-menu {
        display: block;
    }
    h1 {
        margin-bottom: 65px;
        text-align: center;
        margin: 0 auto 45px;
    }
    .btn-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }
    .btn-group a + a {
        margin-left: 0;
    }
    .btn-group a {
        margin-bottom: 10px;
    }
    .box-header {
        margin-bottom: 100px;
    }
    .page-header {
        padding: 53px 0 150px 0;
    }
    .page-app {
        padding: 380px 0 82px 0;
    }
    .flex-analytics, .flex-app2 {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .flex-analytics>img, .flex-app2>img {
        display: none;
    }
    .content-app {
        width: 100%;
        text-align: center;
    }
    a.video-app {
        top: -359px;
        right: 0;
        left:0;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    a.video-app img {
        width: 337px;
        margin-left: 50px;
        top: -359px;
        right: 0;
        left:0;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .list-company-item {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 50px;
    }
    .list-company-item span {
        margin: 0 auto;
    }
    .page-company {
        padding: 50px 0 22px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "a a"
            "b c"
            "d e"
            "f g" 
            "h h";
    }
    .grid h2 {
        text-align: center;
    }
    .grid h2 span {
        margin-bottom: 10px;
    }
    .box-subscribe {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .box-subscribe-child {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }
    .box-subscribe-text {
        margin: 0 auto 10px;
    }
    .box-subscribe img {
        margin: 0 auto 20px;
        max-width: 170px;
    }
    .page-subscribe {
        padding: 20px 0 40px 0;
    }
    .flex-form img {
        display: none;
    }
    .flex-form>div {
        flex-basis: 100%;
        text-align: center;
    }
    .page-form {
        padding: 0 0 20px 0;
    }
    .contact-form {
        max-width: 800px;
        justify-content: center;
        margin: 0 auto;
    }
    .contact-form .btn-primary {
        margin: 0 auto;
    }
    .contact-form .btn-primary::before {
        left: 40px;
    }
}

@media (max-width: 960px) {
    .page-plan {
        padding: 81px 0 0 0;
    }
    .box-team {
        flex-flow: column wrap;
        justify-content: center;
        margin: 0 auto;
        width: 300px;
    }
    .box-team-item1 {
      margin-bottom: 100px;
    }
    .box-team-item2 {
      margin-bottom: 100px;
    }
    .page-team .title-40 {
        padding-top: 0px;
        padding-bottom: 100px;
        color: #192b59;;
    }
}
@media (max-width: 930px){
    .intro {
        display: none;
    }
    .box-price {
        max-width: 500px;
        margin: 0 auto;
    }
    .box-price-item {
        flex-basis: 100%;
        margin-bottom: 0;
        
    }
    .settings-icon {
        display: none;
    }
}
@media (max-width: 850px) {
    .page-clients {
        margin-top: 20px;
    }
    .box-clients {
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .box-clients-item {
        margin-bottom: 20px;
    }
    
}
@media (max-width: 700px) {
    .object-circle {
        display: none;
    }
    .list-stat>li {
        flex-basis: 34%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
        margin: 0 auto 30px;
    }
    .btn-primary {
        padding: 15px 40px;
        font-size: 11px;
    }
    .btn-secondary {
        padding: 15px 40px;
        font-size: 11px;
    }
    .page-screen {
        padding: 34px 0 24px 0;
    }
    .page-screen>h2 {
        font-size: 30px;
    }
    .page-screen>h2>span {
        font-size: 14px;
    }
    .flex-form .title-h2 {
        font-size: 40px;
    }
    
}
@media (max-width: 560px) {
    .page-our{
        text-align: center;
        margin: 0 auto;
        justify-content: center;
    }
}
@media (max-width: 460px){
    .grid {
    grid-template-columns: 175px 175px;
    }
    .list-company {
        justify-content: center;
    }
    .page-subscribe {
        padding: 20px 0 110px 0;
    }
    .page-analytics {
        padding: 27px 0 53px 0;
    }
    .page-app2 {
        background-image: none;
        padding: 0 0 60px 0;
    }
    .flex-analytics>div>h2, .content-app>h2 {
        font-size: 40px;
    }
    .page-analytics-text, .content-app>h2>p {
        font-size: 17px;
    }
    .flex-title>h2{
        font-size: 40px;
    }
    .flex-title>h2>p {
        font-size: 17px;
    }
    .flex-title .btn-primary{
        padding: 15px 30px;
    }
    .flex-form .title-h2 {
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    .page-company {
        padding: 30px 15px 10px 40px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h";
        padding: 20px 15px 20px 15px;
    }
    .page-grid {
        padding: 0;
    }
    .grid h2 {
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
    }
    .grid h2 span {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .page-subscribe {
        padding: 10px;
        height: 400px;
    }
    .box-subscribe-child {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }
    .box-subscribe-child .title-h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .box-subscribe-child .title-h2 span{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .box-subscribe-text {
        margin: 0 auto 10px;
        font-size: 14px;
    }
    .box-subscribe img {
        margin: 0 auto 10px;
        max-width: 100px;
    }
    .box-subscribe-user {
        padding: 0;
    }
    .box-subscribe-user>.btn-primary {
        padding: 15px 40px;
        font-size: 11px;
        top: 55px;
        right: 40px;
    }
    .box-subscribe-user input {
        font-size: 12px;
        padding: 14px 14px;
        width: 100%;
    }
    .content-app>h2, .flex-app2>h2 {
        font-size: 30px;
    }
    a.video-app img {
        width: 260px;
    }
    .flex-title>h2 {
       font-size: 30px; 
    }
    .page-app2-text {
        font-size: 17px;
    }
    .flex-title .btn-primary{
        padding: 15px 20px;
        font-size: 10px;
    }
    
}
